
header.weather-header {
    font-size: 20px;
    font-weight: bold;
    background: rgb(38, 17, 115) !important;
     color: aliceblue;

  }
  
  header.weather-header h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  

#forecast {
    display: flex;
    justify-content: space-between; 
}

